LOGO_PATH = 'custom/seafile.png'

EMAIL_USE_TLS = True
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_HOST_USER = 'me@gmail.com'
EMAIL_HOST_PASSWORD = 'app_passwd'
EMAIL_PORT = 587
DEFAULT_FROM_EMAIL = EMAIL_HOST_USER
SERVER_EMAIL = EMAIL_HOST_USER


THUMBNAIL_DEFAULT_SIZE = '32'
PREVIEW_DEFAULT_SIZE = '240'
